.App {
  display: grid;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.column-head {
  color: white;
  text-align: center;
  padding: 10px;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.arrow {
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.card-text {
  margin: auto;
}

.remove-card {
  color: red;
  font-weight: bold;
  position: absolute;
  right: 35px;
  cursor: pointer;
}

.add-card-container {
  text-align: right;
}

.add-card {
  color: #aaa;
  font-weight: bold;
  cursor: pointer;
}
